NODE_ENV=development
HOST=localhost
PORT=35523

# Optional
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=

DEV_FLAG_USE_TWITCH_CLIP_DIRECTLY=true

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=db01
POSTGRES_HOST=localhost


S3_BUCKET=census
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_ENDPOINT=http://127.0.0.1:19000
S3_PUBLIC_URL=http://127.0.0.1:19000/census

ALVEUS_AUTH_ISSUER=https://www.alveussanctuary.org
ALVEUS_AUTH_CLIENT_ID=
ALVEUS_AUTH_CLIENT_SECRET=
